__pycache__/
*.pyc
*.pyo
*.pyd
__init__.cpython-38.pyc

# Ignore WAV and other audio files
*.wav
*.WAV
*.mp3
*.flac
*.ogg
*.aiff
*.aif
*.m4a

# Ignore logs and temporary files
*.log
*.tmp
.DS_Store  # macOS system file
Thumbs.db  # Windows system file

# Ignore virtual environments
venv/
.env/
*.env



# Include impulse response files
!audio_dsp/effects/impulse_response/*